.preview {
    width: 720px;
    height: 240px;
    overflow: hidden;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%, transparent 90%);
}

.info {
    position: absolute;
    width: 60%;
    height: 100%;
    overflow: hidden;
    margin-left: 12px;
}

.line { 
    display: flex;
    align-items: center;
}

.line-logo {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.icon {
    margin-right: 8px;
}